.DS_Store
.idea
venv
__pycache__
__pycache__/*
yahoo_data/*
!yahoo_data/

testing/*
testing/data/*
testing/graphs/*
testing/predictions/*
testing/predictions/accuracy/*
testing/predictions/data/*
testing/predictions/graphs/*
!testing/
!testing/data/
!testing/graphs/
!testing/predictions/
!testing/predictions/accuracy
!testing/predictions/data
!testing/predictions/graphs

training/*
training/combined_data/*
training/data/*
training/graphs/*

!training/
!training/combined_data/
!training/data/
!training/graphs/

reports/*/*/*.png
reports/*/*/*.h5
